body {
  background-color: #e1e1e1;
}
/* 头部导航栏 */
header {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #444;
}
@media (max-width:980px){
  header{
    width: calc(100% - 10px);
    margin: 0 5px;
  }
}
.nav {
  width: 90%;
  height: 100%;
  padding: 5px;
  margin: 0 auto;
}
#nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}



